<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body style="text-align: center">

<div class="row-fluid" style="width:90%;margin:0 auto"  >
    <div class="block"  align="center">
        <div id="tablewidget" class="block-body collapse in">
            <table class="table">
              <thead>
                <tr>
                  <th>版本号</th>
                  <th>项目名</th>
                  <th>bin版本号</th>
                  <th>flash版本号</th>
                  <th>发布时间</th>
                  <td>操作</td>
                </tr>
              </thead>
              <tbody>
                {% for i in p.p_content %}
                <tr>
                  <td>{{i.id}}</td>
                  <td>{{i.item}}</td>
                  <td>{{i.bin}}</td>
                  <td>{{i.flash}}</td>
                  <td>{{i.dtime}}</td>
                  <td>删除</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    <div>
    <div id="pagination_div1">
        <ul class="pagination" >
        共 <span  class="badge">{{p.p_count}}</span> 条记录，总 <span  class="badge">{{p.p_pages}}</span> 页，当前在<span  class="badge">{{id}}</span>页
        </ul>
    </div>
    <div id="pagination_div2">
        <nav>
            <ul class="pagination" >
                <li><a href="/test/{{p.p_previous}}">&laquo;</a></li>
                <li> <a href="/test/1">首页</a></li>
                    {% for i in p.p_range %}
                        <li  {% ifequal p.p_id i %} class="active" {% endifequal %}><a href="/test/{{i}}">{{i}}</a></li>
                    {% endfor %}
                <li> <a href="/test/{{p.p_pages}}">尾页</a></li>
                <li><a href="/test/{{p.p_next}}">&raquo;</a></li>
            </ul>
        </nav>
    </div>
    </div>
</div>
</body>
</html>